section{
    overflow: hidden;
      background: #f0ededd5;
}
/* home section */
.home-section{
  height: 90vh;
  display: flex;
  justify-content: center;
}
.container2{
  width: 90%;
  margin: 40px 40px 20px 40px;  
  border-radius: 10px;
  display: flex;
  align-items: center;

}
.home-section .container2{
  height: 90%;
  justify-content: space-between;  
  background: linear-gradient(90deg, rgba(0, 33, 71, 1) 0%, rgba(14, 32, 173, 1) 100%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  
}
.left-col{
  width: 70%;
  height: 90%;
  margin: 20px;
  padding: 30px;

}

.image img{
  width: 40%;
  height: auto;
}
.text-content{
  margin-top: 50px;
  color: white;
}
.text-content>p:nth-child(1){
  font-size: 25px;
  letter-spacing: 1px;
}
.text-content>p:nth-child(2){
  font-size: 30px;
}
.name{
  font-size: 40px;
  font-weight: 600;
}
.btn-light-border{
  background: transparent;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  border: 1px solid rgba(228, 228, 99, 0.993);
  padding: 10px;
  border-radius: 2px;
  transition: all 200ms ease-in;
}
.btn-light-border:hover{
  background: rgba(228, 228, 99, 0.993);

}
.btn-light-border:hover>.btn-text{
  color: black;
}
.btn-light-border .btn-text{
  text-decoration: none;
  color: rgba(228, 228, 99, 0.993);
  font-size: 20px;
}
.right-col{
  width: 50%;
  /* position: relative; */
}
.right-col>img{
  position: absolute;
  bottom: -40px;
  right: 70px;
  width: 40%;
  height: 90%;
}
/* responsive design */
@media (max-width: 961px){
  .home-section .container2{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }

  .left-col{
    width: 100%;
    
  }
  .right-col>img{
    display: none;
  }

}
@media (max-width: 460px){
  .home-section{
    height: 80vh;
  }
  .left-col{
    padding: 25px;
    margin: 5px;
  }
    .image img {
      width: 60%;
      
    }
  .text-content {
      margin-top: 30px;
          }
  .text-content>p:nth-child(1) {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .text-content>p:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
  }

  .name {
    font-size: 25px;
    font-weight: 500;
  }
    .btn-light-border .btn-text{
      font-size: 15px;
    }
        .btn-light-border{
          width: 40%;
        }
  
}
/* about section */
.about-section{
  display: flex;
  justify-content: center;
}
.about-section .container2{
  margin-top: 100px;
  margin-right: -15px;
  margin-left: -15px;
}
.col-left{
  width:50%;
  padding-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-left>img{
  border: none;
  outline: none;
  max-width: 85%;
  vertical-align: middle;
  
}
.col-right{
  padding: 50px 15px 10px 15px;
  width: 50%;
  height: 100%;
}
.col-right>h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.col-right>p>span{
  font-size: 20px;
  color: #333;
}
.btn-solid-border{
  width: fit-content;
  background: rgb(248, 228, 8);
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
}
.btn-solid{
  color: black;
  font-size: 15px;
  font-weight: 700;
}
.btn-solid:hover{
  text-decoration: none;
  color: white;
}
/* responsive design */
@media (max-width: 961px){
  .about-section .container2{
    margin-top: 50px;
    flex-direction: column;
  }
  .col-left{
    width: 100%;
  }
  .col-right{
    width: 100%;
  }

}
@media (max-width: 400px){
  .col-right>h1{
    font-size: 20px;

  }
    .col-right>p>span{
      font-size: 15px;
    }

}